In [6]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [7]:
dataset = [
    ['Coffee', 'Donut', 'Sandwich'],
    ['Coffee', 'Donut'],
    ['Coffee', 'Sandwich'],
    ['Coffee', 'Muffin'],
    ['Donut', 'Muffin']
]

In [8]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)
df=pd.DataFrame(te_ary,columns=te.columns_)
df

   Coffee  Donut  Muffin  Sandwich
0    True   True   False      True
1    True   True   False     False
2    True  False   False      True
3    True  False    True     False
4   False   True    True     False

In [9]:
frequent_itemsets=apriori(df,min_support=0.4,use_colnames=True)
print("Frequent Itemsets")
print(frequent_itemsets)

Frequent Itemsets
   support            itemsets
0      0.8            (Coffee)
1      0.6             (Donut)
2      0.4            (Muffin)
3      0.4          (Sandwich)
4      0.4     (Coffee, Donut)
5      0.4  (Coffee, Sandwich)

In [10]:
rules=association_rules(frequent_itemsets,metric="confidence",min_threshold=0.6)

In [12]:
print("association rule")
print(rules[['antecedents','consequents','support','confidence','lift']])

association rule
  antecedents consequents  support  confidence      lift
0     (Donut)    (Coffee)      0.4    0.666667  0.833333
1  (Sandwich)    (Coffee)      0.4    1.000000  1.250000